---
# Do not remove these lines.
---

$footer-height: 10rem;

/* Base */
html {
	font-size: 1.1rem;
	font-family: "Roboto";
	-webkit-font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
}

/* Typography */
h1, h2, h3,
h4, h5, h6 {
	color: #568ba2;
	font-family: "Roboto Condensed";
	text-transform: uppercase;
}

/* Buttons */
.btn {
	font-family: "Roboto";
	text-transform: uppercase;
}

.btn + .btn {
	margin-left: 0.25rem;
}

.btn-primary {
	background: #568ba2;
	border-color: #568ba2;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
	background: darken(#568ba2, 10%);
	border-color: darken(#568ba2, 10%);
}

.btn-outline-primary {
	border-color: #568ba2;
	color: #568ba2;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active {
	background: transparent;
	border-color: darken(#568ba2, 10%);
	color: darken(#568ba2, 10%);
}

/* Page */
.page {
	min-height: 100vh;
	padding-bottom: $footer-height;
	position: relative;
}

/* Body */
.body {
	padding: 8rem 0 6rem;
}

.content {
	max-width: 640px;
}

.section {
	margin: 2rem 0;
}

/* Contact */
.contact {
	background: #568ba2;
	bottom: 0;
	color: #fff;
	height: $footer-height;
	left: 0;
	padding-top: 2rem;
	position: absolute;
	right: 0;
}

.contact:before {
	background: #fff;
	bottom: 0;
	content: "";
	display: block;
	left: calc(50% - 150px);
	position: absolute;
	right: -150px;
	top: 0;
	transform: skew(45deg);
}

.contact:after {
	background: rgba(255, 255, 255, 0.5);
	bottom: 100%;
	content: "";
	display: block;
	height: 50px;
	left: 0;
	position: absolute;
	right: 0;
}

.contact a {
	color: inherit;
	text-decoration: underline;
}

.contact p {
	margin-bottom: 0;
}

/* Partners */
.partners {
	bottom: 0;
	color: #000;
	height: $footer-height;
	left: calc(50% - 50px);
	padding-top: 2rem;
	position: absolute;
	z-index: 1;
}

.logos {
	align-items: center;
	display: flex;
}

.logos a {
	display: block;
	margin-right: 1.5rem;
}

.logos img {
	max-height: 90px;
	max-width: 180px;
}

/* Main Heading */
.main-heading {
	font-size: 3rem;
}

.glitch {
	color: #000;
}

.chrome-ff {
	.glitch {
		color: transparent;
		display: inline-block;
		position: relative;
		transform: skew(-10deg);
		white-space: nowrap;
	}
	
	.glitch .glitch-1,
	.glitch .glitch-2 {
		left: 0;
		position: absolute;
		top: 0;
	}
	
	.glitch::before,
	.glitch::after,
	.glitch .glitch-1::before,
	.glitch .glitch-1::after,
	.glitch .glitch-2::before,
	.glitch .glitch-2::after {
		color: magenta;
		content: attr(data-text);
		left: 0;
		mix-blend-mode: multiply;
		pointer-events: none;
		position: absolute;
		top: 0;
		z-index: 1;
	}
	
	.glitch .glitch-2::before {
		animation: trans4 3.2s infinite;
		clip-path: inset(62% 0 0 0);
		color: cyan;
		z-index: -1;
	}
	
	.glitch .glitch-2::after {
		animation: trans5 3.2s infinite;
		clip-path: inset(62% 0 0 0);
		color: yellow;
		z-index: -1;
	}
	
	.glitch::before {
		animation: trans6 3.2s infinite;
		clip-path: inset(0 0 43% 0);
		color: black;
	}
	
	.glitch::after {
		clip-path: inset(62% 0 0 0);
	}
	
	.glitch .glitch-1::before {
		animation-delay: 0.2s;
		animation-fill-mode: both;
		animation: trans2 0.8s steps(1, start) infinite;
		clip-path: inset(57% 0 42% 0);
		color: black;
	}
	
	.glitch .glitch-1::after {
		animation-fill-mode: both;
		animation: trans1 0.8s steps(1, start) infinite;
		clip-path: inset(58% 0 38% 0);
		color: black;
	}
	
	@keyframes trans1 {
		0% { transform: translateX(-1%); }
		20% { transform: translateX(0.5%); }
		40% { transform: translateX(-0.2%); }
		60% { transform: translateX(0.6%); }
		90% { transform: translateX(0.8%); }
		100% { transform: translateX(-1%); }
	}
	
	@keyframes trans2 {
		0% { transform: translateX(5%); }
		20% { transform: translateX(2.5%); }
		55% { transform: translateX(1.8%); }
		60% { transform: translateX(2.6%); }
		80% { transform: translateX(2.8%); }
		100% { transform: translateX(3%); }
	}
	
	@keyframes trans3 {
		0% { transform: translateX(1%); }
		20% { transform: translateX(1.1%); }
		45% { transform: translateX(1.2%); }
		70% { transform: translateX(1.4%); }
		90% { transform: translateX(0.6%); }
		100% { transform: translateX(1.2%); }
	}
	
	@keyframes trans4 {
		0% { transform: translateX(0%); }
		60% { transform: translateX(0.5%); }
		60.001% { transform: translateX(0.3%); }
		100% { transform: translateX(0.2%); }
	}
	
	@keyframes trans5 {
		0% { transform: translateX(0%); }
		60% { transform: translateX(-0.5%); }
		60.001% { transform: translateX(-0.3%); }
		100% { transform: translateX(-0.2%); }
	}
	
	@keyframes trans6 {
		0% { transform: translateX(0.6%); }
		60% { transform: translateX(1.1%); }
		60.001% { transform: translateX(0.9%); }
		100% { transform: translateX(1.2%); }
	}
}

/* Graphics */
.logo {
	position: absolute;
	left: calc(50% + 180px);
	top: -50px;
}

.decoration {
	position: absolute;
	left: calc(50% + 180px);
	top: 140px;
}

.decoration img {
	position: absolute;
	left: 163px;
	top: 233px;
	transform: rotate(45deg);
	width: 460px;
}

/* Responsive */
@media screen and (max-width: 1439px) {
	.body {
		padding: 4rem 0 1rem;
	}
	
	.partners {
		height: auto;
		padding: 0 0 2rem;
		position: static;
	}
}

@media screen and (max-width: 1023px) {
	.body {
		position: relative;
		z-index: 1;
	}
	
	.main-heading {
		font-size: 2.5rem;
	}
	
	.contact {
		height: auto;
		padding: 1.5rem 0;
	}
	
	.contact::before {
		left: calc(50% + 100px);
	}
	
	.logos {
		flex-wrap: wrap;
	}
	
	.graphics {
		opacity: 0.1;
	}
	
	.logo {
		left: auto;
		right: -20px;
	}
	
	.decoration {
		left: auto;
		right: -400px;
	}
}

@media screen and (max-width: 767px) {
	.body {
		padding: 1rem 0 0;
	}
	
	.main-heading {
		font-size: 2rem;
	}
	
	.section-heading {
		font-size: 1.5rem;
	}
}