---
layout: campaign
custom_style: campaign
title: Is your network hacker proof – SensorFu
ogimage: img/beacon-app-1200x627.png
---

<div class="graphics">
    <div class="logo">
        {% include_relative img/campaign-logo.svg %}
    </div>

    <div class="decoration">
        {% include_relative img/campaign-decoration.svg %}
        <img src="img/campaign-powerlines.jpg" alt="Power lines">
    </div>
</div>

<div class="body">
    <div class="container">
        <div class="content">
            <h1 class="main-heading">
                Are your control and management networks
                <span class="glitch" data-text="hacker-proof?">
                    <span class="glitch-1" data-text="hacker-proof?" aria-hidden></span>
                    <span class="glitch-2" data-text="hacker-proof?" aria-hidden></span>
                    hacker-proof?
                </span>
            </h1>

            <div class="section">
                <h2 class="section-heading">Beacon</h2>
                <p>
                    SensorFu Beacon is a new kind of cyber security solution that 
                    continuously verifies that closed and isolated government, industrial and process control 
                    networks remain isolated, and no new leaks appear as a result of user errors or hacker activity.
                </p>
            </div>

            <div class="section">
                <h2 class="section-heading">Contact us right now</h2>
                <p>
                    We are offering governmental organisations and industrial companies our Beacon product at
                    campaign pricing complete with white gloves delivery.
                    Please fill and send the form below or email us at  
                    &lt;contact@sensorfu.com&gt; to get started. Lets work together to keep cyber adversaries at bay!
                </p>
            </div>

            <div class="section">
                <h2 class="section-heading">SensorFu</h2> 
                <p>
                   SensorFu detects new network leak paths before they are exploited. If you're required to operate
                   isolated networking environments, SensorFu helps you to anwer question: is my network isolation
                   working as intended? Leaks from isolated network segments can be a result of human error or malice,
                   and they may violate security policies or contractual obligations. SensorFu automates previously
                   manual audit checks, and it empowers IT- and IT security ops to ensure continuous network, and
                   network segment isolation that meets their mission specific policies and regulatory requirements.
                </p>
                <p>
                    <a class="btn btn-primary" href="https://share.hsforms.com/1zpJ0yZkLSUKGXv961QrRQg2d9ac">Contact us now</a>
                    <a class="btn btn-outline-primary" href="/">More info...</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="partners">
    <div class="container">
        <h3 class="h6">SensorFu Beaconin valinneet</h3>
        <div class="logos">
            <a href="https://www.fingrid.fi/" target="_blank" rel="noopener noreferrer">
                <img src="img/fingrid-color.png" alt="Fingrid">
            </a>
            <a href="https://www.synopsys.com/" target="_blank" rel="noopener noreferrer">
                <img src="img/synopsys-color.png" alt="Synopsys">
            </a>
            <a href="https://ilmavoimat.fi/" target="_blank" rel="noopener noreferrer">
                <img src="img/ilmavoimat-color.png" alt="Ilmavoimat">
            </a>
            <a href="https://www.uta.fi/" target="_blank" rel="noopener noreferrer">
                <img src="img/tampereen-yliopisto-color.png" alt="Tampereen yliopisto">
            </a>
        </div>
    </div>
</div>

<div class="contact">
    <div class="container">
        <h3 class="h6">Contact details</h3>
        <p>
            Ari Knuuti<br>
            <a href="mailto:contact@sensorfu.com">contact@sensorfu.com</a><br>
            +358 40 510 0316
        </p>
    </idv>
</div>
