<section class="content-section-b" id="challenge">
        
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto order-md-1 order-sm-1">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Network Isolation</h2>
        <p class="lead">You rely on it. You may call it isolation, segregation, segmentation, partition or sandboxing. 
          But do you know it works? Privacy, payment safety or your sanity may require it.</p>
      </div>

      <div class="col-md-6 mr-auto order-md-2 order-sm-3">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">SensorFu Beacon</h2>
          <p class="lead">Always know if your network leaks. Designed for customers who
            require absolute network segregation. </p>
        </div>

        <div class="col-md-6 mx-auto order-md-3 order-sm-2">
            <video id="breakout" poster="img/breakout.jpg" class="illustration breakout" src="img/breakout.mp4" loop muted playsinline>
                Your browser does not support the video tag.
              </video>
          <p class="caption">Kasper broke out with ease. Data protection or payment safety down the toilet?</p>
        </div>

      <div class="col-md-6 mx-auto order-md-4 order-sm-4">
          <video id="introducing" poster="img/introducing.jpg" class="illustration" src="img/introducing.mp4" loop muted playsinline>
            Your browser does not support the video tag.
          </video>
          
        <p class="caption" id="mikkocaption">Mikko's Beacon will help him to seal his sandbox.</p>
        
      </div>
    </div>
  </div>
</section>


    <!-- quote 1 -->
    <section class="content-section-a">
            <div class="container">
              <div class="row">
               <div class="col-md-8 col-xs-12 mx-auto">
                <div class="bd-example">
                  <blockquote class="blockquote">
                    <p>"Sometimes even the experts get it wrong! So how can we build and 
                       ensure the policies - and the technical enforcement of those written 
                       policies keep accidents and slip ups from ocuring?"</p>
                    <footer>Rob Joyce, chief of the NSA’s Tailored Access Operations (TAO)
                    </footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          </section>
      
