<span class="anchor" id="contact"></span>
<div class="container-fluid darker text-center contactus">
    <h2>Contact us</h2>
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 my-auto light">
            <address>
                <strong>SensorFu Oy</strong><br/>
                Teknologiantie 18 B<br/>
                90590 Oulu, Finland<br/><br>
            </address>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 my-auto light">
            <address>
                Business ID: 2811349-6<br/>
                <a class="mail" href="mailto:contact@sensorfu.com">contact@sensorfu.com</a><br/>
                +358 40 8019800<br/>
                <a href="privacy-policy.html">Privacy policy</a>
            </address>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 my-auto">
            <ul class="list-inline banner-social-buttons">
                <li class="list-inline-item my-1 px-auto">
                    <a href="https://medium.com/sensorfu/" class="btn btn-secondary btn-md">
                        <i class="fa fa-medium fa-fw"></i>
                        <span class="network-name">Medium</span>
                    </a>
                </li>
                <li class="list-inline-item my-1 px-auto">
                    <a href="https://twitter.com/sensorfu/" class="btn btn-secondary btn-md">
                        <i class="fa fa-twitter fa-fw"></i>
                        <span class="network-name">Twitter</span>
                    </a>
                </li>
                <li class="list-inline-item my-1 px-auto">
                    <a href="https://github.com/sensorfu/" class="btn btn-secondary btn-md">
                        <i class="fa fa-github fa-fw"></i>
                        <span class="network-name">Github</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
