
<section class="content-section-a parallax deploy" id="easytodeploy">        
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mr-auto">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h1 class="section-heading">Easy to Deploy</h1>
            </div>
        </div>
    </div>
</section>

    
<section class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">Virtual</h2>
                <p class="lead">Launch the virtual Beacons inside
                    server hotels and see if they can call their Home.</p>
            </div>

            <div class="col-lg-6 col-md-6 mr-auto">
                <img class="img-fluid short" src="img/virtual.svg" alt=""/>
            </div> 
        </div>

    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 mr-auto order-md-2 order-lg-4">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">Works with Raspberry Pi</h2>
                <p class="lead">Use the physical ones to test on premise locations. Leave them behind, move them around, 
                have them all around.</p>
            </div>
        
            <div class="col-md-6 ml-auto order-md-1 order-lg-2">
                <img class="img-fluid short" src="img/physical.svg" alt=""/>
            </div>
        </div>

    </div>
    
</section>
    <!-- /.content-section-b -->

<section class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 ml-auto order-lg-4">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">No Special Privileges</h2>
                <p class="lead">Beacons are like any other nodes in your network. They don't need any special access, so deploying them is a breeze.</p>
            </div>
            <div class="col-md-6 mx-auto order-lg-2">
                <img class="img-fluid short" src="img/one-among-others.svg" alt=""/>
            </div>
        </div>

        <div class="row space">
            <div class="col-lg-6 col-md-6 mx-auto order-lg-1">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">Replace</h2>
                <p class="lead">Update process is easy. You just swap the old Beacon with the new one. With the physical
                    appliance you can just swap its SD-card.
                </p>
        
            </div>
            <div class="col-lg-6 col-md-6 mx-auto order-lg-2">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">Spawn and Spread</h2>
                <p class="lead">Beacon does not require complex configuration. Spawn unique images
                    in our service and just run them.
                </p>
            </div>        
        </div>
    </div>

</section>
