
<aside class="banner" id="contact">
            
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-5 my-auto light">
          <address>
            <strong> SensorFu Oy</strong><br/>
              Teknologiantie 18 B<br/>
              90540 Oulu, Finland
          </address>
      </div>
      <div class="col-md-3 col-sm-5 my-auto light">
          <address>
              Business ID: 2811349-6<br/>
              <a class="mail" href="mailto:#">contact@sensorfu.com</a><br/>
              +358 40 8019800<br/>
              
          </address>
      </div> 
      <div class="col-md-6 col-sm-2 my-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://medium.com/scanabc/sensorfu/home" class="btn btn-secondary btn-md">
              <i class="fa fa-medium fa-fw"></i>
              <span class="network-name">Medium</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.twitter.com/sensorfu/" class="btn btn-secondary btn-md">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/sensorfu" class="btn btn-secondary btn-md">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
              
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->

</aside>
<!-- /.banner -->
