
<section class="content-section-a parallax getstarted" id="getstarted">
        
    <div class="container">

        <div class="row">
            <div class="col-lg-10 mr-auto order-lg-2">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h1 class="section-heading">Get Started</h1>
                <p class="lead">Enhancing your network security<br>has never been so easy.</p>
                <!-- back to basiscs / ABC comments here -->
            </div>
        </div>

    </div>
</section>

<section class="content-section-b">
    
    <div class="container">
    <!-- what do you need belongs to ease of deployment, after spawn and spread -->
        <div class="row">
            <div class="col-md-6 mx-auto">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">What Do You Need</h2>
                <p class="lead"> A network, an operational virtualization platform 
                    (KVM, VirtualBox or VMWare) and 
                    access to Slack or a syslog server for alerts.</p>
            </div>
            <div class="col-md-6 mx-auto">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">What will you get</h2>
                <!-- access to home, generate beacons -->
                    
                <p class="lead">The Beacon virtual machine and
                    VirtualBox Install instruction and one Home for your organization.</p>
            </div>
            <div class="col-md-6 mx-auto">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Price</h2>
                <p class="lead">  
                    Basic subscription gives you one Home and unlimited beacons. Support and upgrades included. 
                    The subscription price for a basic deployment is 30 000€ per year.</p>
            </div>
            <div class="col-md-6 mr-auto">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Support</h2>
                <p class="lead">Subscription includes customer support and free upgrades. Customer support available over email and Slack.</p>
            </div>
        </div>
    </div>
</section>
