
 <section class="content-section-a parallax hack" id="howitworks">
            
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h1 class="section-heading">Beacon Automates Your Policy Checks</h1>
        <!-- back to basiscs / ABC comments here -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
           
<!-- Section -->

<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Beacon Calls Home</h2>
        <p class="lead">Put them in your networks and they will alert if your networks leak.
                        Beacons try to connect to their Home over IPv4, IPv6, TCP, and UDP.
                        If they succeed, Home alerts you via Syslog or Slack.</p>
      </div>
      
      <div class="col-md-6 mx-auto">
        <img class="img-fluid short" src="img/flow.svg" alt="">
      </div>

    </div> <!-- row --> 

    
    <!--- this after "beacon calls home" --> 
    <!--- between calls home and this one, testimonials --> 
      <div class="row">

        <div class="col-md-6 ml-auto order-lg-4 order-md-2">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Cover All the Layers</h2>
          <p class="lead">Firewall rules, routing, switch VLANs, cabling - it is just impossible to review 
            everything works right everywhere! With Beacon, the testing is simple.</p>
        </div>
        
        <div class="col-md-6 mx-auto order-md-1 ">
            <img class="img-fluid short" src="img/layers.svg" alt="">
        </div>
        
      </div> <!-- row --> 
      <div class="row">
        <div class="col-md-12 ml-auto">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Focus</h2>
          <p class="lead">Rather than finding 300 potential issues in one location,
              test one important security control in 300 locations.
          </p>
        </div>  
        
      </div> <!-- row --> 
  </div> <!-- container -->

</section>

<section class="content-section-b">
  
<div class="container">
  <div class="row">
   <div class="col-md-8 col-xs-12 mx-auto">
    <div class="bd-example">
      <blockquote class="blockquote">
        <p>
          "Failing the network segregation may have catastrophic consequences."
        </p>
        <footer>Juhani Eronen, The National Cyber Security Centre Finland </footer>
      </blockquote>
    </div>
  </div>
</div>
</div>
</section>
