<section class="content-section-a madeby parallax" id="aboutus">

    <div class="container">
        <div class="row">
            <div class="col-lg-10 mr-auto">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h1 class="section-heading">About Us</h1>
            </div>
        </div>
    </div>
</section>
<section class="content-section-b">
    
    <div class="container">        
        <div class="row">
            <div class="col-lg-5 mr-auto order-lg-2">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2>Founded By </h2>
                <p class="lead">
                <a href="https://www.linkedin.com/in/mikkokenttala/">Mikko Kenttälä</a> - CEO<br>
                <a href="https://www.linkedin.com/in/oherrala/">Ossi Herrala</a> -  productization lead<br>
                <a href="https://www.linkedin.com/in/sebastianturpeinen/">Sebastian Turpeinen</a> - R&D lead
                </p>
                <blockquote class="blockquote left"> 
                    <p class="lead">                
                        "We started SensorFu in order to go back to basics with IT security.
                        We feel that security requirements pile up, while systems and security 
                        solutions get more complex by the day. Our products give our customers
                        assurance that their security policies are and stay sealed."
                    </p>
                </blockquote>
            </div>
            <div class="col-lg-5 mr-auto order-lg-2">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2>Funded By </h2>
                <p class="lead">We are funded by Ääkköset Oy and TEKES.</p>
                
                <blockquote class="blockquote left">
                    <p class="lead">
                            "We love how SensorFu's  sharp focus brings a glimpse of clarity to the security market. They have
                            a solid idea which scales." -Kasper Kyllönen, partner @ Ääkköset
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</section>