<!-- Navigation -->
<nav class="navbar navbar-expand-md bg-primary-subtle sticky-top shadow-lg" data-bs-theme="dark">
    <div class="container-xl px-3 px-lg-4">
        <a class="navbar-brand fst-italic fw-bold" href="/">SensorFu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center gap-2 gap-lg-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/beacon.html">Beacon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources.html">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/partners.html">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="/about.html">About us</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link border border-white rounded-pill px-3 py-0" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
