{% if page.custom_style == "campaign" %}
    <script src="{{ site.url }}/vendor/vivus/vivus.min.js"></script>
    <script src="{{ site.url }}/js/campaign.js"></script>
{% elsif page.custom_style == "energy" %}
    <script src="{{ site.url }}/js/energy.js"></script>
{% else %}
    <script src="{{ site.url }}/vendor/jquery/jquery.min.js"></script>
    <script src="{{ site.url }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.url }}/vendor/agency/agency.min.js"></script>
    <script src="{{ site.url }}/vendor/jquery-easing/jquery-easing.min.js"></script>
{% endif %}
